<%- include('header') %>

<section class="type-section">
  <% types.forEach(type => { %>
    <a class="type" style="background-color: <%= type.color %>" href="/types/<%= type.id %>"><%= type.name %></a> 
  <% }); %>
</section>

<%- include('footer') %>